{% extends 'base.html' %}
{% block title %}
    LEKI - Wyszukaj
{% endblock %}

{% block content %}

<title>Leki - Wyszukaj</title>

<br><br>

<form method="POST" action="{{ url_for('leki_szukaj' )}}" class="d-flex">
  {{ form.hidden_tag() }}
  <input class="form-control me-2" type="search" placeholder="Szukaj:" aria-label="Szukaj:" name="searched">
  <button class="btn btn-outline-secondary" type="submit">Szukaj:</button>
</form>

<br>
  <!-- Your columns inside the table HERE: -->
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Nazwa handlowa</th>
        <th scope="col">Nazwa międzynarodowa</th>
        <th scope="col">Producent</th>
        <th scope="col">Postać</th>
        <th scope="col">Dawka</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
         <!-- Your rows inside the table HERE: -->
            {% for lek in Leki %}
            {% include 'includes/items_modals.html' %}
                <tr>
                    <td>{{ lek.nazwa_handlowa }}</td>
                    <td>{{ lek.nazwa_miedzynarodowa }}</td>
                    <td>{{ lek.producent }}</td>
                    <td>{{ lek.postac }}</td>
                    <td>{{ lek.dawka }}</td>
                    <td>
                      <button class="btn btn-outline btn-info" data-toggle="modal" data-target="#Modal-MoreInfo-{{ lek.id_lek }}">Wiecej...</button>
                    </td> 
                </tr>
            {% endfor %}   
    </tbody>
  </table>
  <br><br><br><br>
</div>
{% endblock %}