{% extends 'base.html' %}
{% block title %}
    Wyszukaj LEKI
{% endblock %}

{% block header %}
    Wyszukaj LEKI
{% endblock %}

{% block content %}

<br>
<center>LEKI</center>
<br>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Nazwa:" aria-label="Nazwa:" aria-describedby="button-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Szukaj</button>
    </div>
  </div>

<br>
<br>

  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Nazwa handlowa</th>
        <th scope="col">Nazwa międzynarodowa</th>
        <th scope="col">Producent</th>
        <th scope="col">Postać</th>
        <th scope="col">Dawka</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Alexan</td>
        <td>Cytarabinum</td>
        <td>EBWE</td>
        <td>Roztwór do infuzji</td>
        <td>50 mg/ml</td>
      </tr>
    </tbody>
  </table>

  <br><br><br><br>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
     <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Kod:</th>
        <th scope="col">EAN:</th>
        <th scope="col">Nazwa handlowa:</th>
        <th scope="col">Nazwa międzynarodowa</th>
        <th scope="col">Producent:</th>
        <th scope="col">Postać:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>5909990181223</td>
        <td>Alexan</td>
        <td>Cytarabinum</td>
        <td>EBWE</td>
        <td>Roztwór do infuzji</td>
      </tr>
    </tbody>
  </table>
    </div>
    <div class="carousel-item">
      <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">Zawartość substancji czynnej:</th>
            <th scope="col">Opakowanie:</th>
            <th scope="col">Okres ważności - 
              fiolka otwarta:</th>
            <th scope="col">Temperatura przeczowywania -
               fiolka otwarta:</th>
            <th scope="col">Okres ważności -
               rozcieńczony roztwór:</th>
            <th scope="col">Temperatura przechowywania -
               rozcieńczony roztów:</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>50 mh/ml</td>
            <td>fiolka</td>
            <td>28 dni</td>
            <td>2-8 lub temperatura pokojowa</td>
            <td>28 dni</td>
            <td>2-8 lub temperatura pokojowa</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="carousel-item">
      <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">Fizyczna i chemiczna stabilność w stężeniu:</th>
            <th scope="col">Okres ważności:</th>
            <th scope="col">Temperatura przechowywania:</th>
            <th scope="col">Fizyczna i chemiczna stabilność w stężeniu:</th>
            <th scope="col">Okres ważności</th>
            <th scope="col">Temperatura przechowywania:</th>
            <th scope="col">Ochrona przed światłem:</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>0,1 mg/ml</td>
            <td>28 dni</td>
            <td>pokojowa</td>
            <td>20 mg/ml</td>
            <td>28 dni</td>
            <td>pokojowa</td>
            <td>brak</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Wstecz</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Dalej</span>
  </a>
</div>

{% endblock %}