<style>
    .modal-content {
      background-color: #212121
    }
  </style>
  
  <!-- More Info -->
  <div class="modal fade" id="Modal-MoreInfo-{{ lek.id_lek }}"
       tabindex="-1"
       aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">
            {{ lek.nazwa_handlowa }}
          </h5>
          <button type="button" class="close"
                  data-dismiss="modal" aria-label="Zamknij">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">          
          ID: 
          <p style="text-align: right">{{ lek.id_lek }}</p>
          <br>
          Kod kreskowy: 
          <p style="text-align: right">{{ lek.ean }}</p>
          <br>
          Nazwa handlowa: 
          <p style="text-align: right">{{ lek.nazwa_handlowa }}</p>
          <br>
          Nazwa międzynarodowa:
          <p style="text-align: right">{{ lek.nazwa_miedzynarodowa }}</p>
          <br>
          Dawka:
          <p style="text-align: right"> {{ lek.dawka }}</p>
          <br>
          Producent:
          <p style="text-align: right">{{ lek.producent }}</p>
          <br>
          Substancja czynna:
          <p style="text-align: right"> {{ lek.subst_czynna }}</p>
          <br>
          Zawartość substancji czynnej w 1 ml:
          <p style="text-align: right">{{ lek.zawartosc_subst_ml }}</p>
          <br>
          Zawartość substancji czynnej w mg:
          <p style="text-align: right"> {{ lek.zawartosc_subst_mg }}</p>
          <br>
          Opis opakowania:
          <p style="text-align: right">{{ lek.opis_op }}</p>
          <br>
          Objętość opakowania w ml:
          <p style="text-align: right"> {{ lek.obj_op_ml }}</p>
          <br>
          Postać:
          <p style="text-align: right"> {{ lek.postac }}</p>
          <br>
          Barwa:
          <p style="text-align: right"> {{ lek.barwa }}</p>
          <br>
          Droga podania:
          <p style="text-align: right">{{ lek.droga_podania }}</p>
          <br>
          Okres ważności rozcieńczonego roztworu wg producenta:
          <p style="text-align: right"> {{ lek.okres_waz_roz_rozt_prod }}</p>
          <br>
          Temperatura przechowywania rozcieńczonego roztworu wg producenta:
          <p style="text-align: right"> {{ lek.temp_prz_rozc_rozt_prod }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
                  data-dismiss="modal">Zamknij
          </button>
        </div>
      </div>
    </div>
  </div>