{% extends 'base.html' %}
{% block title %}
    PACJENCI - Wyszukaj
{% endblock %}

{% block header %}
    Pacjenci - Wyszukaj
{% endblock %}

{% block content %}

<title>Pacjenci - Wyszukaj</title>
<br>
<center>PACJENCI</center>
<br>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Nazwa:" aria-label="Nazwa:" aria-describedby="button-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Szukaj</button>
    </div>
  </div>

  <title>Pacjenci:</title>
  <br>
  
  <table class="table table-hover table-dark">
      <thead>
          <tr>
      <!-- Your Columns HERE -->
              <th scope="col">ID</th>
              <th scope="col">Nazwisko</th>
              <th scope="col">Pierwsze imię</th>
              <th scope="col">Drugie imię</th>
              <th scope="col">PESEL</th>
              <th scope="col">Data urodzenia</th>
              <th scope="col">Badanie</th>
              <th scope="col">Nr w badaniu</th>
          </tr>
      </thead>
  
      <!-- Your rows inside the table HERE: -->
      {% for pacjent in Pacjenci %}
  
          <tr>
              <td>{{ pacjent.id_pacjent }}</td>
              <td>{{ pacjent.nazwisko }}</td>
              <td>{{ pacjent.pierwsze_imie }}</td>
              <td>{{ pacjent.drugie_imie }}</td>
              <td>{{ pacjent.pesel }}</td>
              <td>{{ pacjent.data_urodzenia }}</td>
              <td>{{ pacjent.badanie }}</td>
              <td>{{ pacjent.nr_w_badaniu }}</td>
              <td>
                  <button class="btn btn-outline btn-warning">Zmień</button>
  
                  <a class="btn btn-outline btn-danger"
                  href="#">Usuń</a>
                  
              </td>
          </tr>
      {% endfor %}
  </table>   
          </div>
      </form>
      
{% endblock %}