{% extends 'base.html' %}
{% block title %}
    Wyszukaj - PACJENCI
{% endblock %}

{% block header %}
    Wyszukaj PACJENCI
{% endblock %}

{% block content %}

<br>
<center>PACJENCI</center>
<br>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Nazwa:" aria-label="Nazwa:" aria-describedby="button-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Szukaj</button>
    </div>
  </div>

{% endblock %}