{% extends 'base.html' %}
{% block title %}
Strona Dodawania
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
            {{ form.hidden_tag() }}
            <img class="mb-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7qqRevzB30TPvjw5LI7_8sgH8mxigfZ17MQ&usqp=CAU" alt="">
            <h1 class="h3 mb-3 font-weight-normal">
                Dodaj DOKTORA
            </h1>
            <br>
            {{ form.doctor_name.label() }}
            {{ form.doctor_name(class="form-control", placeholder="Imie doktora") }}

            {{ form.doctor_surname.label() }}
            {{ form.doctor_surname(class="form-control", placeholder="Nazwisko doktora") }}

            {{ form.doctor_nr.label() }}
            {{ form.doctor_nr(class="form-control", placeholder="Numer doktora") }}

            <br>

            <div class="checkbox mb-3">
                <h6>Już jest?</h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('iszlc_page') }}">Lista doktorów</a>
             </div>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
    </div>
</body>
{% endblock %}