{% extends 'base.html' %}
{% block title %}
  Strona modułu FARMACEUTA
{% endblock %}

<title>Farmaceuta:</title>

{% block content %}

<br>
<style>
    .isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}
</style>
<td>

</div>

<table class="table table-hover table-dark">
    <thead>
        <tr>
            <!-- PIERWSZA kolumna -->
            <th scope="col">LEKI</th>
            <th scope="col">RECEPTY</th>
            <th scope="col">PRODUKCJA</th>
        </tr>
    </thead>
    <tbody>
        <!-- Wiersze PIERWSZEJ kolumny -->
            <tr>
                <td><a href="{{ url_for('leki_wyszukaj_page') }}">Wyszukaj</a>
                <td><a href="{{ url_for('recepty_wyszukaj_page') }}">Wyszukaj</a>
                <td><a class="isDisabled" href="#">Wyszukaj</a>
            </tr>
            <tr>
                <td><a href="{{ url_for('leki_dopisz_page') }}">Dopisz</a>
                <td><a href="{{ url_for('recepty_dopisz_page') }}">Dopisz</a>
                <td><a class="isDisabled" href="#">Dopisz (Produkuj)</a>
            </tr>
            <tr>
                <td><a class="isDisabled" href="#">Import docelowy</a>
                <td><a href="{{ url_for('recepty_drukuj_page') }}">Etykiety drukuj</a>
                <td><a class="isDisabled" href="#">Raport</a>
            </tr>
            <tr>
                <td><a class="isDisabled" href="#">Zamówienie</a>
                <td><a class="isDisabled" href="#">Raport</a>
                <td><a class="isDisabled" href="#">Słownik</a>
            </tr>
            <tr>
                <td><a class="isDisabled" href="#">Słownik</a>
                <td><a class="isDisabled" href="#">Słownik</a>
            </tr>
 <!--        {# % endfor % #} -->
    </tbody>
</table>

<table class="table table-hover table-dark">
    <thead>
        <tr>
            <!-- DRUGA Kolumna -->
            <th scope="col">PACJENCI</th>
            <th scope="col">RAPORTY</th>
            <th scope="col">SŁOWNIKI</th>
        </tr>
    </thead>
    <tbody>
        <!-- Wiersze DRUGIEJ tabeli -->
        <tr>
            <td><a href="{{ url_for('pacjenci_wyszukaj_page') }}">Wyszukaj</a>
            <td><a class="isDisabled" href="#">Wykonane produkty</a>
            <td><a href="{{ url_for('slowniki_uzytkownicy_page') }}">Użytkownicy</a>
        </tr>
        <tr>
            <td><a href="{{ url_for('pacjenci_dopisz_page') }}">Dopisz</a>
            <td><a class="isDisabled" href="#">Wypisane recepty</a>
            <td><a href="{{ url_for('slowniki_oddzialy_page') }}">Oddziały</a>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td><a href="{{ url_for('slowniki_wlasciciel_page') }}">Właściciel</a></td>
        </tr>
    </tbody>
</table>

{% endblock %}