{% extends 'base.html' %}
{% block title %}
    Strona logowania
{% endblock %}

{% block content %}

<div class="row" style="margin-top:60px; margin-left:40px">
    <div class="col-4">
    <body class="text-center">

        <form method="POST" class="form-signin" style="color:white">
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal">
                Zaloguj się, aby rozpocząć pracę:
            </h1>
            <br>
            {{ form.username.label() }}
            {{ form.username(class="form-control", placeholder="Nazwa użytkownika") }}

            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Hasło") }}

            <br><br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

            <br><br>
            <div class="checkbox mb-3">
                <h6>Nie masz konta?</h6>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('dodaj_uzytkownika_page') }}">Zarejestruj</a>
             </div>
        </form>
        </body>
    </div>
    <div class="col-6">
        <br>
        <b><text style="color:orangered;">I</b></text>nformatyczny<br>
        <b><text style="color:orangered;"">S</b></text>ystem<br>
        <b><text style="color:orangered;">Z</b></text>arządzania<br>
        <b><text style="color:orangered;">L</b></text>ekami<br>
        <b><text style="color:orangered;">C</b></text>ytotoksycznymi<br>

        <img src="{{ url_for('static', filename='images/logo_iszlc.svg' )}}" width="">
        <br>
        <div style="position: absolute; bottom: 0px; right: 0px;">
        <text style="color: grey;">
            <p align="right">
            Wersja programu: <b>0.1</b>
        <br>
            Copyrights: <b>Piotr Kwiatosz</b>
        </text></br>  
    </div> 
</body>
{% endblock %}