{% extends 'base.html' %}
{% block title %}
  MODUŁY
{% endblock %}

<title>MODUŁY:</title>

{% block content %}

<br>
<td>
</div>
<table class="table table-hover table-dark">
    <td>
        <td>
    <!-- Your Columns HERE -->
            <th scope="col">
                <a class="btn btn-primary btn-lg btn-block btn-warning" 
                href="{{ url_for('iszlc_page') }}">FARMACEUTA</a>  
                </th></td>
                    <td></td>
                    <td></td>
            <th scope="col">
                <a class="btn btn-primary btn-lg btn-block btn-blue" 
                href="{{ url_for('iszlc_page') }}">PIELĘGNIARKA</a>
                </th></td>
                    <td></td>
                    <td></td>                   
                <th scope="col">
                <a class="btn btn-primary btn-lg btn-block btn-success" 
                href="{{ url_for('iszlc_page') }}">LEKARZ</a>
                </th></td>
                    <td></td>
                    <td></td>
    </thead>
</table>   
<img src="{{ url_for('static', filename='images/logo_iszlc.svg' )}}" width="">
    </div>
    </form>
{% endblock %}