{% extends 'base.html' %}
{% block title %}
  MODUŁ FARMACEUTA
{% endblock %}

<title>FARMACEUTA:</title>

{% block content %}

<br>
<td>

</div>

<table class="table table-hover table-dark">
    <td>
        <td>
    <!-- Your Columns HERE -->
            <th scope="col">
                <a class="btn btn-primary btn-lg btn-block" 
                href="#">LEKI</a>  
                </th></td>
                    <td></td>
                    <td></td>
                <th scope="col">
                <a class="btn btn-primary btn-lg btn-block btn-success" 
                href="#">RECEPTY</a>
                </th></td>
                    <td></td>
                    <td></td>
            <th scope="col">
                <a class="btn btn-primary btn-lg btn-block btn-danger" 
                href="#">PRODUKCJA</a>
                </th></td>
                    <td></td>
                    <td></td>
            <th scope="col">
                <a class="btn btn-primary btn-lg btn-block btn-warning" 
                href="#">SŁOWNIKI</a>
                </th></td>
                    <td></td>
                    <td></td>

    </thead>

    <!-- Your rows inside the table HERE: -->

</table>   
        </div>
    </form>
{% endblock %}