{% extends 'base.html' %}
{% block title %}
    Właściciel
{% endblock %}

{% block content %}

<br>
    <title>Właściciel:</title>
<br>
      
      <table class="table table-hover table-dark">
          <thead>
              <tr>
          <!-- Your Columns HERE -->
                  <th scope="col">ID</th>
                  <th scope="col">Nazwa</th>
              </tr>
          </thead>
      
          <!-- Your rows inside the table HERE: -->
          {% for owner in Owners %}
      
              <tr>
                  <td>{{ owner.id }}</td>
                  <td>{{ owner.nazwa }}</td>
                  <td>
                      <a class="btn btn-outline btn-warning"
                      href="{{ url_for('slowniki_wlasciciel_edytuj_page') }}">Zmień</a>                     
                  </td>
              </tr>
          {% endfor %}
      </table> 
      <td>
        <br>
        <a class="btn btn-primary btn-lg btn-block btn-warning" 
        href="{{ url_for('modules_page') }}">Moduły</a>
        </td> 


{% endblock %}