{% extends 'base.html' %}
{% block title %}
Strona dodawania PACJENTA
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
            {{ form.hidden_tag() }}
            <img src="{{ url_for('static', filename='images/logo_iszlc.svg' )}}" width="400">
            <h1 class="h3 mb-3 font-weight-normal">
                Dodaj PACJENTA
            </h1>
            <br>
            {{ form.nazwisko.label() }}
            {{ form.nazwisko(class="form-control", placeholder="Nazwisko") }}

            {{ form.pierwsze_imie.label() }}
            {{ form.pierwsze_imie(class="form-control", placeholder="Pierwsze imię") }}

            {{ form.drugie_imie.label() }}
            {{ form.drugie_imie(class="form-control", placeholder="Drugie imię") }}

            {{ form.pesel.label() }}
            {{ form.pesel(class="form-control", placeholder="PESEL") }}

            {{ form.data_urodzenia.label() }}
            {{ form.data_urodzenia(class="form-control", placeholder="Data urodzenia") }}

            {{ form.badanie.label() }}
            {{ form.badanie(class="form-control", placeholder="Badanie") }}

            {{ form.nr_w_badaniu.label() }}
            {{ form.nr_w_badaniu(class="form-control", placeholder="Numer w badaniu") }}
            <br>
             <div class="checkbox mb-3">
            <br><br>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
            <br>
            <div class="checkbox mb-3">
                <a class="btn btn-sm btn-secondary" href="{{ url_for('pacjenci_wyszukaj_page') }}">
                    Lista pacjentów</a>
                    <br><br>
        </form>
    </div>
</body>
{% endblock %}