{% extends 'base.html' %}
{% block title %}
Strona dodawania RECEPTY
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
            {{ form.hidden_tag() }}
            <img src="{{ url_for('static', filename='images/logo_iszlc.svg' )}}" width="400">
            <h1 class="h3 mb-3 font-weight-normal">
                Dodaj RECEPTE
            </h1>
            <b>Kod:</b>
            <br>
            {{ form.nr_recepty.label() }}
            {{ form.nr_recepty(class="form-control", placeholder="Nr recepty") }}

            {{ form.data_wypis.label() }}
            {{ form.data_wypis(class="form-control", placeholder="Data wypisania") }}

            {{ form.data_wyprod.label() }}
            {{ form.data_wyprod(class="form-control", placeholder="Data wykonania") }}

            {{ form.data_pod.label() }}
            {{ form.data_pod(class="form-control", placeholder="Data podania") }}

            {{ form.pacjent_id.label() }}
            {{ form.pacjent_id(class="form-control", placeholder="ID pacjenta") }}

            {{ form.odd_id.label() }}
            {{ form.odd_id(class="form-control", placeholder="ID oddziału") }}

            {{ form.lek_id.label() }}
            {{ form.lek_id(class="form-control", placeholder="ID leku") }}

            {{ form.roztwor_id.label() }}
            {{ form.roztwor_id(class="form-control", placeholder="ID roztworu") }}

            {{ form.droga_pod.label() }}
            {{ form.droga_pod(class="form-control", placeholder="Droga podania") }}

            {{ form.predkosc_pod.label() }}
            {{ form.predkosc_pod(class="form-control", placeholder="Prędkość podania") }}

            {{ form.data_waz.label() }}
            {{ form.data_waz(class="form-control", placeholder="Ważność preparatu do dnia:") }}

            {{ form.godz_waz.label() }}
            {{ form.godz_waz(class="form-control", placeholder="Ważność preparatu do godziny:") }}

            {{ form.zatwierdzony.label() }}
            {{ form.zatwierdzony(class="form-control", placeholder="Zatwierdzona") }}
            <br>
             <div class="checkbox mb-3">
            <br><br>
            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
            <br>
        </form>
    </div>
</body>
{% endblock %}